<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculadora</title>
    </head>
    <body>
        <center>
            <h2>Calculadora</h2>
            <form action="/calcular" method="post">
                <label for="n1">1º número</label>
                <input type="text" id="n1" name="n1"><br><br>

                <label for="operador">Operador</label>
                <select name="operador" id="operador">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select><br><br>

                <label for="n2">2º número</label>
                <input type="text" id="n2" name="n2"><br><br>

                <input type="submit" value="Calcular">
            </form>
        </center>
    </body>
</html>
